autopep8==2.3.1
black==24.10.0
boto3==1.35.45
botocore==1.35.45
cfgv==3.4.0
click==8.1.7
distlib==0.3.9
filelock==3.16.1
identify==2.6.1
jmespath==1.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pre_commit==4.0.1
pycodestyle==2.12.1
Pygments==2.18.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rich==13.9.2
s3transfer==0.10.3
shellingham==1.5.4
six==1.16.0
tabulate==0.9.0
typer==0.12.5
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.27.0
